<div class="container">
      <h1>File Upload</h1>
      {{#if msg}}
      <p><strong>{{msg}}</strong></p>
      {{/if}}

      <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                  <div class="col">
                        <input name="myImage" type="file">
                  </div>
                  <div class="col">
                        <button type="submit" class="btn btn-primary mb-2">Upload</button>
                  </div>
            </div>
      </form>

      {{#if filePath}}
      {{!-- <p>Not Upload File</p>
      <br>
      {{else}}
      <p>Uploaded File</p> --}}
      <br>
      <img id="uploadImg" src={{filePath}} class="responsive-img">
      {{/if}}

      <button id="submitBtn">Submit</button>
      {{!-- {{#if filePath!="undefined"}}
      <img src={{(filePath}} class="responsive-img">
      {{/if}} --}}

</div>
<script src="/js/createpost.js"></script>
<script src="/js/createpostType.js"></script>